<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <title>o(^▽^)o</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:type" content="website">
<meta property="og:title" content="o(^▽^)o">
<meta property="og:url" content="http://yoursite.com/index.html">
<meta property="og:site_name" content="o(^▽^)o">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="o(^▽^)o">
  
    <link rel="alternative" href="/atom.xml" title="o(^▽^)o" type="application/atom+xml">
  
  
    <link rel="icon" href="//favicon.png">
  
  <script src="/style.js"></script>
</head>

<body>
  <div id="container">
    <div class="left-col">
      <div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			
			<img src="http://47.93.240.52/1.png" class="js-avatar">
			
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/">满天繁星</a></h1>
		</hgroup>

		

		<nav class="header-menu">
			<ul>
			
				<li><a href="/">主页</a></li>
	        
				<li><a href="/tags/随笔">随笔</a></li>
	        
			</ul>
		</nav>
		<nav class="header-smart-menu">
	        
    		
    			
    			<a class="js-smart-menu" data-idx="0" href="javascript:void(0)">所有文章</a>
    			
    			
            
    			
    			<a class="js-smart-menu" data-idx="1" href="javascript:void(0)">标签</a>
    			
    			
            
    			
    			<a class="js-smart-menu" data-idx="2" href="javascript:void(0)">友链</a>
    			
    			
            
    			
    			<a class="js-smart-menu" data-idx="3" href="javascript:void(0)">关于我</a>
    			
    			
            
		</nav>
		<nav class="header-nav">
			<div class="social">
				
					<a class="github" target="_blank" href="https://github.com/SkyMoreStars" title="github">github</a>
		        
					<a class="weibo" target="_blank" href="http://weibo.com/zyxno1/home" title="weibo">weibo</a>
		        
					<a class="rss" target="_blank" href="#" title="rss">rss</a>
		        
					<a class="zhihu" target="_blank" href="#" title="zhihu">zhihu</a>
		        
			</div>
		</nav>
	</header>		
</div>

    </div>
    <div class="mid-col">
      <nav id="mobile-nav">
  	<div class="overlay">
  		<div class="slider-trigger"><i class="icon-list"></i></div>
  		<h1 class="header-author js-mobile-header hide">满天繁星</h1>
  	</div>
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
				
					<img src="http://47.93.240.52/1.png" class="js-avatar">
				
			</div>
			<hgroup>
			  <h1 class="header-author">满天繁星</h1>
			</hgroup>
			
			<nav class="header-menu">
				<ul>
				
					<li><a href="/">主页</a></li>
		        
					<li><a href="/tags/随笔">随笔</a></li>
		        
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					
						<a class="github" target="_blank" href="https://github.com/SkyMoreStars" title="github">github</a>
			        
						<a class="weibo" target="_blank" href="http://weibo.com/zyxno1/home" title="weibo">weibo</a>
			        
						<a class="rss" target="_blank" href="#" title="rss">rss</a>
			        
						<a class="zhihu" target="_blank" href="#" title="zhihu">zhihu</a>
			        
				</div>
			</nav>
		</header>				
	</div>
</nav>

      <div class="body-wrap">
        
  
    <article id="post-Nginx_Config" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/07/19/Nginx_Config/">Nginx Suse 11开机自动启动脚本</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <h1 id="前言"><a href="#前言" class="headerlink" title="前言"></a>前言</h1><blockquote>
<p>是一个高性能的 Web 和反向代理服务器等许多优越的特性。</p>
</blockquote>
<ul>
<li><strong>作为 Web 服务器</strong>：相比 Apache，Nginx 使用更少的资源，支持更多的并发连接，体现更高的效率，这点使 Nginx 尤其受到虚拟主机提供商的欢迎。能够支持高达 50,000 个并发连接数的响应，感谢 Nginx 为我们选择了 epoll and kqueue 作为开发模型.</li>
</ul>
<ul>
<li><strong>作为负载均衡服务器</strong>：Nginx 既可以在内部直接支持 Rails 和 PHP，也可以支持作为 HTTP代理服务器 对外进行服务。Nginx 用 C 编写, 不论是系统资源开销还是 CPU 使用效率都比 Perlbal 要好的多。</li>
</ul>
<ul>
<li><strong>作为邮件代理服务器</strong>: Nginx 同时也是一个非常优秀的邮件代理服务器（最早开发这个产品的目的之一也是作为邮件代理服务器），Last.fm 描述了成功并且美妙的使用经验。</li>
</ul>
<ul>
<li><p><strong>Nginx 安装非常的简单</strong>，配置文件 非常简洁（还能够支持perl语法），Bugs非常少的服务器: Nginx 启动特别容易，并且几乎可以做到7*24不间断运行，即使运行数个月也不需要重新启动。你还能够在 不间断服务的情况下进行软件版本的升级。</p>
<h2 id="负载均衡配置"><a href="#负载均衡配置" class="headerlink" title="负载均衡配置"></a>负载均衡配置</h2><p>以下是http和https Nginx负载均衡的配置。仅限后台接口使用。不包含静态文件的访问。</p>
<p>  #user  nobody;<br>  worker_processes  1;</p>
<p>  #error_log  logs/error.log;<br>  #error_log  logs/error.log  notice;<br>  #error_log  logs/error.log  info;</p>
<p>  #pid        logs/nginx.pid;</p>
</li>
</ul>
<pre><code>events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  &apos;$remote_addr - $remote_user [$time_local] &quot;$request&quot; &apos;
    #                  &apos;$status $body_bytes_sent &quot;$http_referer&quot; &apos;
    #                  &apos;&quot;$http_user_agent&quot; &quot;$http_x_forwarded_for&quot;&apos;;

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;
    upstream  coreBusiness{  
              #server   172.19.0.196:8080 weight=1 max_fails=2 fail_timeout=60s;
            #server   172.19.0.197:8080 weight=1 max_fails=2 fail_timeout=60s;
              server    172.19.0.243:8100;
      }
    upstream  aacs{    
            server   172.19.0.200:8080 weight=1 max_fails=2 fail_timeout=60s;
            server   172.19.0.199:8080 weight=1 max_fails=2 fail_timeout=60s;
            server   172.19.0.198:8080 weight=1 max_fails=2 fail_timeout=60s;
        }
    server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location /coreBusiness {
            proxy_pass        http://coreBusiness;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
               #root   html;
               #index  index.html index.htm;
        }



    location /aacs {
            proxy_pass        http://aacs;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
           #root   html;
           #index  index.html index.htm;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        #location ~ \.php$ {
        #    root           html;
        #    fastcgi_pass   127.0.0.1:9000;
        #    fastcgi_index  index.php;
        #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        #    include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache&apos;s document root
        # concurs with nginx&apos;s one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    server {
        listen       443 ssl;
        server_name  localhost;

        ssl_certificate      /usr/local/nginx/conf/server.crt;
        ssl_certificate_key  /usr/local/nginx/conf/server.key;

        ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  5m;

        ssl_ciphers  HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers  on;
        location /coreBusiness {
            proxy_pass        http://coreBusiness;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
           #root   html;
           #index  index.html index.htm;
        }

        location /aacs {
            proxy_pass        http://aacs;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
           #root   html;
           #index  index.html index.htm;
       }
        #location / {
         #   root   html;
          # index  index.html index.htm;
       #}
    }

}
</code></pre><h2 id="Suse下开机启动脚本"><a href="#Suse下开机启动脚本" class="headerlink" title="Suse下开机启动脚本"></a>Suse下开机启动脚本</h2><pre><code>#! /bin/sh

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
DESC=&quot;nginx daemon&quot;
NAME=nginx
DAEMON=/usr/local/nginx/sbin/$NAME
CONFIGFILE=/usr/local/nginx/conf/$NAME.conf
PIDFILE=/usr/local/nginx/logs/$NAME.pid
SCRIPTNAME=/etc/init.d/$NAME

set -e
[ -x &quot;$DAEMON&quot; ] || exit 0

do_start() {
 $DAEMON -c $CONFIGFILE || echo -n &quot;nginx already running&quot;
}

do_stop() {
 kill -INT `cat $PIDFILE` || echo -n &quot;nginx not running&quot;
}

do_reload() {
 kill -HUP `cat $PIDFILE` || echo -n &quot;nginx can&apos;t reload&quot;
}

case &quot;$1&quot; in
 start)
 echo -n &quot;Starting $DESC: $NAME&quot;
 do_start
 echo &quot;.&quot;
 ;;
 stop)
 echo -n &quot;Stopping $DESC: $NAME&quot;
 do_stop
 echo &quot;.&quot;
 ;;
 reload|graceful)
 echo -n &quot;Reloading $DESC configuration...&quot;
 do_reload
 echo &quot;.&quot;
 ;;
 restart)
 echo -n &quot;Restarting $DESC: $NAME&quot;
 do_stop
 do_start
 echo &quot;.&quot;
 ;;
 *)
 echo &quot;Usage: $SCRIPTNAME {start|stop|reload|restart}&quot; &gt;&amp;2
 exit 3
 ;;
esac

exit 0
</code></pre><p>操作步骤：</p>
<p>拷贝以上脚本信息，在suse linux的etc/init.d/目录下使用以下命令。</p>
<pre><code>vi nginx #添加nginx启动脚本，将以上内容拷贝进去。
</code></pre><p>添加nginx服务</p>
<pre><code>chkconfig --add nginx
</code></pre><p>设置启动等级</p>
<pre><code>chkconfig -level 2345 nginx on
</code></pre><p>验证:</p>
<pre><code>service nginx start
nginx already running
</code></pre><p>表示添加服务成功。</p>

      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/07/19/Nginx_Config/" class="archive-article-date">
  	<time datetime="2018-07-19T02:02:00.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-07-19</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Linux/">Linux</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-TomcatSuse11AutoStartScript" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/07/17/TomcatSuse11AutoStartScript/">Tomcat Suse 11开机自动启动脚本</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <h1 id="前言"><a href="#前言" class="headerlink" title="前言"></a>前言</h1><blockquote>
<p>大部分的suse启动脚本都是同一个道理，经过这阶段对Linux的接触，大概了解了Suse系统的结构，主要的Service存在于”/etc/init.d/“文件夹下。</p>
</blockquote>
<pre><code>#!/bin/bash

### BEGIN INIT INFO
# Provides:        tomcat7
# Required-Start:  $network
# Required-Stop:   $network
# Default-Start:   2 3 4 5
# Default-Stop:    0 1 6
# Short-Description: Start/Stop Tomcat server
### END INIT INFO

PATH=/sbin:/bin:/usr/sbin:/usr/bin
export JAVA_HOME=/usr/local/java/java8             #JavaHome

start() {
 sh /home/App/apache-tomcat-8.5.31/bin/startup.sh  #自己tomcat启动路径
}

stop() {
 sh /home/App/apache-tomcat-8.5.31/bin/shutdown.sh #自己tomcat关闭路径
}

case $1 in
  start|stop) $1;;
  restart) stop; start;;
  *) echo &quot;Run as $0 &lt;start|stop|restart&gt;&quot;; exit 1;;
esac
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/07/17/TomcatSuse11AutoStartScript/" class="archive-article-date">
  	<time datetime="2018-07-17T01:10:01.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-07-17</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Linux/">Linux</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-Nginx+keepalived双主模式" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/07/08/Nginx+keepalived双主模式/">Nginx+keepalived双主模式（双机互为主备）</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <h1 id="前言"><a href="#前言" class="headerlink" title="前言"></a>前言</h1><blockquote>
<p>Nginx双机互为主备使用keepalived+nginx实现。这种方式两台机器一起分担请求并路由到不同的nignx。</p>
</blockquote>
<p>配置nginx+keepalived的双主机双机热备，这种配置下有两个Virtual IP，两个机器互为主备，最后我们把域名DNS服务器解析至两个Virtual IP即可。</p>
<hr>
<h1 id="一、环境介绍："><a href="#一、环境介绍：" class="headerlink" title="一、环境介绍："></a>一、环境介绍：</h1><p>1.两台服务器</p>
<pre><code>Server1：192.168.2.128---CentOS7
Server2：192.168.2.129---CentOS7
</code></pre><p>2.两个虚拟IP</p>
<p><strong><span style="color:red">注意：在这里做个说明，这两个虚拟ip是由keepalived直接配置的，并不是在虚拟机的网卡上配置。</span></strong></p>
<pre><code>Virtual IP1:192.168.2.138
Virtual IP2:192.168.2.139
</code></pre><h1 id="二、开始操作"><a href="#二、开始操作" class="headerlink" title="二、开始操作"></a>二、开始操作</h1><h2 id="1-初始化两台虚拟机最小安装方式。"><a href="#1-初始化两台虚拟机最小安装方式。" class="headerlink" title="1.初始化两台虚拟机最小安装方式。"></a>1.初始化两台虚拟机最小安装方式。</h2><p>此处略。</p>
<h2 id="2-设置静态Ip。"><a href="#2-设置静态Ip。" class="headerlink" title="2.设置静态Ip。"></a>2.设置静态Ip。</h2><p>查看 <a href="http://zhyx.me" title="CentOS设置静态Ip" target="_blank" rel="external">CentOS设置静态Ip</a></p>
<h2 id="3-安装keepalived"><a href="#3-安装keepalived" class="headerlink" title="3.安装keepalived"></a>3.安装keepalived</h2><p>下载最新版本的keepalived-2.0.5.tar.gz 下载地址：<a href="http://www.keepalived.org/download.html" target="_blank" rel="external">http://www.keepalived.org/download.html</a></p>
<p>将文件上传到/usr/local/目录下</p>
<pre><code>tar -zxvf keepalived-2.0.5.tar.gz
</code></pre><p>将解压出来的文件夹重命名</p>
<pre><code>mv keepalived-2.0.5 keeplived
</code></pre><p>进入文件夹，编译安装</p>
<pre><code>cd keepalived
./configure --prefix=/usr/local/keepalived
make &amp;&amp; make install
</code></pre><p>修改Server1配置文件 /usr/local/keepalived/etc/keepalived/keepalived.conf</p>
<pre><code>! Configuration File for keepalived
global_defs {
        notification_email {
            zhyx@zhyx.me                                    #接收警报的email地址,可以添加多个
        }
        notification_email_from admin@zhyx.me               ###发件人地址
            smtp_server 127.0.0.1                           ###发送邮件的服务器
            smtp_connect_timeout 30                         ###超时时间
            router_id LVS_DEVEL                             ####load balancer 的标识 ID,用于email警报
}
vrrp_script chk_http_port {
            script &quot;/opt/nginx_pid.sh&quot;                      ####检测nginx状态的脚本路径
            interval 2
            weight 2
        }
vrrp_instance VI_1 {
            state MASTER                                    ############ 辅机为 BACKUP
            interface ens33                                 ####HA 虚拟机的网卡名称  
            virtual_router_id 51                            #主、备机的 virtual_router_id 必须相同
            priority 100                                    ########### 权值要比 back 高
            advert_int 1                                    #主备之间的通告间隔秒数
    track_interface{
        ens33
    }
        authentication {
            auth_type PASS                                  ###默认配置 主备切换时的验证 
            auth_pass 1111
        }
        track_script {
            chk_http_port                                   ### 执行监控的服务
        }
        virtual_ipaddress {
            192.168.2.138                                    ####虚拟ip，vip的地址
        }

}
vrrp_instance VI_2 {
    state BACKUP
    interface ens33                                         #两处都为本机的网络接口
    virtual_router_id 54
    priority 100                                             #权重
    advert_int 1
    track_interface{
        ens33
    }
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        192.168.2.139
    }
}
</code></pre><p>修改Server2配置文件 /usr/local/keepalived/etc/keepalived/keepalived.conf</p>
<pre><code>! Configuration File for keepalived
global_defs {
    notification_email {
        zhyx@zhyx.me                                    #接收警报的email地址,可以添加多个
    }
    notification_email_from admin@zhyx.com              ###发件人地址
    smtp_server 127.0.0.1                               ###发送邮件的服务器
    smtp_connect_timeout 30                             ###超时时间
    router_id LVS_DEVEL                                 ####load balancer 的标识 ID,用于email警报
}
vrrp_script chk_http_port {
    script &quot;/opt/nginx_pid.sh&quot;                          ####检测nginx状态的脚本路径
    interval 2
    weight 2
}
vrrp_instance VI_1 {
    state BACKUP                                        ############ 辅机为 BACKUP
    interface ens33                                     ####HA 虚拟机的网卡名称
    #mcast_src_ip 192.168.2.129                            #本机IP地址在主从的时候用到
    virtual_router_id 51                                #主、备机的 virtual_router_id 必须相同
    priority 100                                        ########### 权值要比 back 高
    advert_int 1                                        #主备之间的通告间隔秒数
    track_interface{
    ens33
    }
    authentication {
        auth_type PASS                                  ###主备切换时的验证
        auth_pass 1111
    }
    track_script {
        chk_http_port                                   ### 执行监控的服务
    }
    virtual_ipaddress {
        192.168.2.138                                    ####虚拟ip,vip的地址
    }

}

vrrp_instance VI_2 {
    state MASTER
    interface ens33
    virtual_router_id 54
    priority 100
    advert_int 1
    track_interface{
        ens33
    }
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    track_script {
        chk_http_port
    }
    virtual_ipaddress {
        192.168.2.139
    }
}
</code></pre><p>将两台keepalived安装成Linux系统服务</p>
<p><strong><span style="color:red">注意：执行该步骤之后，如若需要修改keepalived的配置文件，则需要在etc/keepalived下修改。否则修改不生效。</span></strong></p>
<pre><code>cp /usr/local/keepalived/etc/sysconfig/keepalived /etc/sysconfig/ 

mkdir /etc/keepalived 

cp /usr/local/keepalived/etc/keepalived/keepalived.conf /etc/keepalived/ 

cp /usr/local/keepalived/sbin/keepalived /usr/sbin/
</code></pre><p>设置开机启动服务</p>
<pre><code>chkconfig --level 2345 keepalived on
</code></pre><p>在/opt/下编写校验脚本，/opt/nginx_pid.sh（已配置在keepalived.conf中）</p>
<p>nginx_pid.sh ：如果nginx停止运行，尝试启动，如果无法启动杀死本机keepalived进程，keepalied将虚拟ip绑定到备用机器上</p>
<pre><code>#!/bin/bash
A=`ps -C nginx --no-header |wc -l`        
if [ $A -eq 0 ];then                            
      /usr/nginx/sbin/nginx                #重启nginx
      if [ `ps -C nginx --no-header |wc -l` -eq 0 ];then    #nginx重启失败，则停掉keepalived服务，进行VIP转移
              killall keepalived                    
      fi
fi
</code></pre><h2 id="4-安装nginx"><a href="#4-安装nginx" class="headerlink" title="4.安装nginx"></a>4.安装nginx</h2><p>1.首先安装依赖包（依赖包有点多，我们采用yum的方式来安装）</p>
<pre><code>yum -y install zlib zlib-devel openssl openssl-devel pcre pcre-devel
</code></pre><p>2.将nginx-1.15.1.tar.gz上传到/usr/local/下</p>
<pre><code>tar -zxvf 1.15.1
</code></pre><p>3.重命名包名称，讲nginx-1.15.1改为nginx</p>
<pre><code>mv nginx-1.15.1 nginx
</code></pre><p>4.编译</p>
<pre><code>cd nginx

./configure --prefix=/usr/local/nginx --with-http_stub_status_module --with-http_ssl_module

make&amp;&amp;make install
</code></pre><h2 id="测试："><a href="#测试：" class="headerlink" title="测试："></a>测试：</h2><p>分别启动两台机器上nginx和keepalived</p>
<p>1.启动keepalived</p>
<pre><code>service keepalived start    
</code></pre><p>2.启动nginx</p>
<pre><code>/usr/local/sbin/nginx
</code></pre><p>利用命令查看虚拟ip是否绑定成功</p>
<pre><code>ip a
</code></pre><p>输出如下</p>
<pre><code>    [root@bogon ~]# ip a
1: lo: &lt;LOOPBACK,UP,LOWER_UP&gt; mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host 
       valid_lft forever preferred_lft forever
2: ens33: &lt;BROADCAST,MULTICAST,UP,LOWER_UP&gt; mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
    link/ether 00:0c:29:12:2b:19 brd ff:ff:ff:ff:ff:ff
    inet 192.168.2.129/24 brd 192.168.2.255 scope global noprefixroute ens33
       valid_lft forever preferred_lft forever
    inet 192.168.2.138/32 scope global ens33
       valid_lft forever preferred_lft forever
    inet 192.168.2.139/32 scope global ens33
       valid_lft forever preferred_lft forever
    inet6 fe80::76e1:c30c:d2e8:ae91/64 scope link noprefixroute 
       valid_lft forever preferred_lft forever
    inet6 fe80::d2c5:4c6:219:758f/64 scope link tentative noprefixroute dadfailed 
       valid_lft forever preferred_lft forever
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/07/08/Nginx+keepalived双主模式/" class="archive-article-date">
  	<time datetime="2018-07-08T00:24:19.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-07-08</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Nginx/">Nginx</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-Oracle启动方式" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/07/06/Oracle启动方式/">oracle实例启动步骤</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>   一、在Linux下重启Oracle数据库及监听器：</p>
<p>方法1：</p>
<p>用root以ssh登录到linux，打开终端输入以下命令：</p>
<p>cd $ORACLE_HOME #进入到oracle的安装目录 </p>
<p>dbstart #重启服务器 </p>
<p>lsnrctl start #重启监听器 </p>
<p>cd $ORACLE_HOME #进入到oracle的安装目录</p>
<p>dbstart #重启服务器</p>
<p>lsnrctl start #重启监听器</p>
<hr>
<p>方法2：</p>
<p>Sql代码</p>
<p>cd $ORACLE_HOME/bin #进入到oracle的安装目录 </p>
<p>./dbstart #重启服务器 </p>
<p>./lsnrctl start #重启监听器</p>
<hr>
<p>方法3：</p>
<p>（1） 以oracle身份登录数据库，命令：su -oracle</p>
<p>（2） 进入Sqlplus控制台，命令：sqlplus /nolog</p>
<p>（3） 以系统管理员登录，命令：connect / as sysdba</p>
<p>（4） 启动数据库，命令：startup</p>
<p>（5） 如果是关闭数据库，命令：shutdown immediate</p>
<p>（6） 退出sqlplus控制台，命令：exit</p>
<p>（7） 进入监听器控制台，命令：lsnrctl</p>
<p>（8） 启动监听器，命令：start</p>
<p>（9） 退出监听器控制台，命令：exit</p>
<p>二、重启实例：</p>
<p>（1） 切换需要启动的数据库实例：export ORACLE_SID=C1</p>
<p>（2） 进入Sqlplus控制台，命令：sqlplus /nolog</p>
<p>（3） 以系统管理员登录，命令：connect / as sysdba</p>
<p>（4） 如果是关闭数据库，命令：shutdown abort</p>
<p>（5） 启动数据库，命令：startup</p>
<p>（6） 退出sqlplus控制台，命令：exit</p>

      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/07/06/Oracle启动方式/" class="archive-article-date">
  	<time datetime="2018-07-06T01:34:23.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-07-06</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Oracle/">Oracle</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-Oracle序列创建" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/06/11/Oracle序列创建/">Oracle序列创建</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <hr>
<pre><code>CREATE SEQUENCE emp_sequence  --序列名
INCREMENT BY 1   -- 每次加几个  
START WITH 1     -- 从1开始计数  
NOMAXVALUE       -- 不设置最大值  
NOCYCLE          -- 一直累加，不循环  
CACHE 10;
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/06/11/Oracle序列创建/" class="archive-article-date">
  	<time datetime="2018-06-11T03:08:01.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-06-11</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Oracle/">Oracle</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-nginx_install_ssl" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/04/25/nginx_install_ssl/">nginx配置https使用openSSL</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <blockquote>
<p><strong>这篇博文的产生是源于实施人员不会配置https所写。我不知道这样的现象还会持续多久，但我知道不在沉默中爆发，就在沉默中灭亡!</strong></p>
</blockquote>
<p>1、安装jdk，系统默认的jdk版本不对，会造成后续很多问题，所以第一件事就是充装jdk，自己去网上找jdk，然后传到服务器上进行安装，并配置环境变量。</p>
<hr>
<p>2、安装zlib，官网 <a href="http://zlib.net/" target="_blank" rel="external">http://zlib.net/</a> ，到上面下载个新版本，然后传到服务器上进行安装 </p>
<pre><code>[root@localhost]tar zxvf zlib-1.2.11.tar.gz
[root@localhost] cd zlib-1.2.11
[root@localhost]  ./configure &amp;&amp; make &amp;&amp; make install
</code></pre><hr>
<p>3、安装pcre，官网 <a href="https://sourceforge.net/projects/pcre/files/pcre/" target="_blank" rel="external">https://sourceforge.net/projects/pcre/files/pcre/</a> ，到上面下载个新版本，然后传到服务器进行安装</p>
<pre><code>[root@localhost] tar zxvf pcre-8.42.tar.gz
[root@localhost] cd pcre-8.40
[root@localhost]  ./configure &amp;&amp; make &amp;&amp; make install
</code></pre><hr>
<p>4、安装openssl，官网 <a href="https://www.openssl.org/source/" target="_blank" rel="external">https://www.openssl.org/source/</a></p>
<p>a、解压下载的openssl压缩包</p>
<pre><code>tar -zxvf openssl-1.0.1g.tar.gz
</code></pre><p>b、进入解压后的openssl文件夹</p>
<pre><code>cd openssl-1.1.0e
</code></pre><p>c、执行配置指令：</p>
<pre><code>./config shared zlib
</code></pre><p>d、执行安装命令</p>
<pre><code>make&amp;make install
</code></pre><p>e、进行配置</p>
<p>重命名原来的openssl命令</p>
<pre><code>mv /usr/bin/openssl /usr/bin/openssl.bak
</code></pre><p>重命名原来的openssl目录 (我这里不知道为什么，本地include下面没有旧的openssl目录)</p>
<pre><code>mv /usr/include/openssl  /usr/include/openssl.bak
</code></pre><p>将安装好的openssl 的openssl命令软连到/usr/bin/openssl</p>
<pre><code>ln -s /usr/local/sslshared/bin/openssl /usr/bin/openssl
</code></pre><p>将安装好的openssl 的openssl目录软连到/usr/include/openssl</p>
<pre><code>ln -s /usr/local/sslshared/include/openssl /usr/include/openssl
</code></pre><p>修改系统自带的openssl库文件，如/usr/local/lib64/libssl.so(根据机器环境而定) 软链到升级后的libssl.so</p>
<pre><code>ln -s /usr/local/sslshared/lib/libssl.so.1.1 /usr/local/lib64/libssl.so
</code></pre><p>在/etc/ld.so.conf文件中写入openssl库文件的搜索路径</p>
<pre><code>echo &quot;/usr/local/sslshared/lib&quot; &gt;&gt; /etc/ld.so.conf
</code></pre><p>使修改后的/etc/ld.so.conf生效 </p>
<pre><code>ldconfig -v
</code></pre><hr>
<p>5、安装nginx，官网 <a href="http://nginx.org/download/" target="_blank" rel="external">http://nginx.org/download/</a> ，到上面下载个新版本，然后传到服务器进行安装。</p>
<pre><code>[root@localhost] tar zxvf nginx-1.8.0.tar.gz
[root@localhost] cd nginx-1.8.0
[root@localhost] ./configure --prefix=/usr/local/nginx --with-http_stub_status_module --with-http_ssl_module
[root@localhost] make&amp;make install
</code></pre><p>6.创建不受信任的SSL Key：</p>
<pre><code>cd /usr/local/nginx/conf

openssl genrsa -des3 -out server.key 1024

openssl req -new -key server.key -out server.csr

cp server.key server.key.org

openssl rsa -in server.key.org -out server.key

openssl x509 -req -days 365 -in server.csr -signkey server.key -out server.crt
</code></pre><p><img src="https://i.imgur.com/EMaLvMx.png" alt=""></p>
<p>完成上述五个步骤之后你会发现在你的nginx的conf生成了如图所示的几个文件<br><img src="https://i.imgur.com/TCLltHu.png" alt=""></p>
<p>7.编辑nginx配置文件（nginx.conf），拉到最底下有个server 监听443端口的。解开封印#。配置crt和key路径.<br>设置代理连接就搞定了。</p>
<p><img src="https://i.imgur.com/5HJYZRv.png" alt=""></p>

      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/04/25/nginx_install_ssl/" class="archive-article-date">
  	<time datetime="2018-04-25T05:11:17.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-04-25</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Linux/">Linux</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-maven-install" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/03/12/maven-install/">maven安装本地包</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <hr>
<ol>
<li>确认安装包的版本号，位置，包名，如下：</li>
</ol>
<p><img src="https://i.imgur.com/sEIEupj.png" alt=""></p>
<p>2.假设我放在d:\jar。那么在cmd中的命令为：</p>
<pre><code>mvn install:install-file -Dfile=D:\jar\ojdbc6-11.2.0.1.0.jar -DgroupId=com.oracle -DartifactId=ojdbc6 -Dversion=11.2.0.1.0 -Dpackaging=jar
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/03/12/maven-install/" class="archive-article-date">
  	<time datetime="2018-03-12T02:27:18.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-03-12</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/maven/">maven</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-Linux文件夹挂载" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/03/06/Linux文件夹挂载/">Linux文件夹挂载</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <hr>
<ol>
<li>Linux文件夹挂载windows磁盘</li>
</ol>
<p>1.1在linux根目录下创建S文件夹</p>
<pre><code>mkdir /S
</code></pre><p>1.2创建启动脚本，开机自动映射</p>
<pre><code>vi /etc/init.d/startmount
</code></pre><p>1.3写入命令</p>
<pre><code>mount -t cifs //172.16.3.235/E$ /S -o username=administrator,password=netinfo@123,gid=users,dir_mode=0777

wq!
</code></pre><p>1.4修改权限</p>
<pre><code>chmod 777 startmount
</code></pre><p>1.5重新执行</p>
<pre><code>./startmount   
</code></pre><hr>
<p>2.Linux挂载Linux文件夹</p>
<p>a.命令格式：mount [-t vfstype] [-o options] device dir </p>
<pre><code>mount -t nfs4  -o nolock 172.16.3.100:/share/voice /S/voice
</code></pre><p>b.参数的意义</p>
<p>b.1 -t vfstype 指定文件系统的类型，通常不必指定。mount 会自动选择正确的类型。<br>常用类型有： </p>
<p>光盘或光盘镜像：iso9660 </p>
<p>DOS fat16文件系统：msdos </p>
<p>Windows 9x fat32文件系统：vfat </p>
<p>Windows NT ntfs文件系统：ntfs </p>
<p>Mount Windows文件网络共享：smbfs </p>
<p>UNIX(LINUX) 文件网络共享：nfs </p>
<p><span style="color:red;">注意：在固态硬盘下的服务器请使用<strong>nfs4</strong></span></p>
<p>b.2 -o options 主要用来描述设备或档案的挂接方式。常用的参数有： </p>
<p>loop：用来把一个文件当成硬盘分区挂接上系统 </p>
<p>ro：采用只读方式挂接设备 </p>
<p>rw：采用读写方式挂接设备 </p>
<p>iocharset：指定访问文件系统所用字符集 </p>
<p>b.3.device 要挂接(mount)的设备。 </p>
<p>b.4.dir设备在系统上的挂接点(mount point)。 </p>

      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/03/06/Linux文件夹挂载/" class="archive-article-date">
  	<time datetime="2018-03-06T01:51:53.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-03-06</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Linux/">Linux</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-JVM最大运行存配置" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2018/02/24/JVM最大运行存配置/">Tomcat配置最大运行存</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <blockquote>
<p>很久没有写博客了，忘记了多长时间没写。</p>
<p>最主要还是因为项目太紧了。</p>
</blockquote>
<h1 id="关于TOMCAT8及以上配置Jvm最大运行存"><a href="#关于TOMCAT8及以上配置Jvm最大运行存" class="headerlink" title="关于TOMCAT8及以上配置Jvm最大运行存"></a>关于TOMCAT8及以上配置Jvm最大运行存</h1><p>要实现jvm性能调优,要先理解几个参数，以及应用的性能测试。最主要测试的内容为并发量，同时在线量。</p>
<p>在这里主要是配置Tomcat的Jvm内存。先理解以下几个概念。</p>
<p>-Xms2g 表示java虚拟机堆区内存初始内存分配的大小，通常为操作系统可用内存的1/64大小即可，但仍需按照实际情况进行分配。有可能真的按照这样的一个规则分配时，设计出的软件还没有能够运行得起来就挂了。</p>
<p>-Xmx2g 表示java虚拟机堆区内存可被分配的最大上限，通常为操作系统可用内存的1/4大小。但是开发过程中，通常会将 -Xms 与 -Xmx两个参数的配置相同的值，其目的是为了能够在java垃圾回收机制清理完堆区后不需要重新分隔计算堆区的大小而浪费资源。</p>
<p>-XX:PermSize=256M 表示非堆区初始内存分配大小，其缩写为permanent size（持久化内存）</p>
<p>-XX:MaxPermSize=256M 表示对非堆区分配的内存的最大上限。</p>
<p>1.windows版本的Tomcat配置jvm最大运行存。<br>只需要在bin目录下新建<span style="color:red">setenv.bat</span>内容如下：</p>
<pre><code>set JAVA_HOME=../jre
set &quot;JAVA_OPTS=%JAVA_OPTS% -Xms2g -Xmx2g -XX:MaxPermSize=256m -server&quot;
</code></pre><p>第一行可以直接配置jre的目录<br>第二行则是配置JVM运行存储。</p>
<p>2.Linux版本下的Tomcat</p>
<p>只需要在bin目录下新建<span style="color:red">setenv.sh</span>内容如下：</p>
<pre><code>export CATALINA_OPTS=&quot;$CATALINA_OPTS -Xms4096m&quot;
export CATALINA_OPTS=&quot;$CATALINA_OPTS -Xmx4096m&quot;
export CATALINA_OPTS=&quot;$CATALINA_OPTS -XX:MaxPermSize=256m&quot;
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2018/02/24/JVM最大运行存配置/" class="archive-article-date">
  	<time datetime="2018-02-24T07:10:48.000Z" itemprop="datePublished"><i class="icon-clock"></i>2018-02-24</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Java/">Java</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
    <article id="post-Spring-webSocket" class="article article-type-post" itemscope itemprop="blogPost">
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2017/11/22/Spring-webSocket/">关于Spring boot webSocket使用方式</a>
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <h1 id="配置"><a href="#配置" class="headerlink" title="配置"></a>配置</h1><p>1.添加Socket Maven依赖</p>
<pre><code>&lt;dependency&gt;
        &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
        &lt;artifactId&gt;spring-boot-starter-websocket&lt;/artifactId&gt;
&lt;/dependency&gt;
</code></pre><p>2.配置WebSocket，通过继承AbstractWebSocketMessageBrokerConfigurer类，重写其方法来配置WebSocket。需要在配置类上开启Spring boot STOMP协议（@EnableWebSocketMessageBroker）来传输message broker的消息。使控制器支持@MessageMapping。</p>
<p>3.注册STOMP协议的节点，并映射的指定URL。</p>
<p>4.注册一个STOMP的endpoint，并指定使用SockJS协议</p>
<p>5.配置消息代理。</p>
<p>6.点对点式增加一个/queue消息代理，广播式应配置一个/topic消息代理</p>
<pre><code>@Configuration
@EnableWebSocketMessageBroker//2
public class SocketConfig extends AbstractWebSocketMessageBrokerConfigurer {
@Override
public void registerStompEndpoints(StompEndpointRegistry stompEndpointRegistry) {//3
    stompEndpointRegistry.addEndpoint(&quot;/endpointWisely&quot;).withSockJS();//4
    stompEndpointRegistry.addEndpoint(&quot;/endpointChat&quot;).withSockJS();//
}

@Override
public void configureMessageBroker(MessageBrokerRegistry registry) {//5
    registry.enableSimpleBroker(&quot;/queue&quot;,&quot;/topic&quot;);//6
    }
}
</code></pre><h1 id="配置Controller"><a href="#配置Controller" class="headerlink" title="配置Controller"></a>配置Controller</h1><p>1.配置对象Response,以及客户侧消息对象。</p>
<p>2.后台定义/subscription发送消息的地址，@SendTo(“/topic/response”)表示服务器有消息时，会将消息推送到这个地址。如果用户订阅了这个通知，则消息的到达浏览器端。—-这是广播式的通知方式。</p>
<p>3.”/chat”表示浏览器端发送消息的地址。</p>
<p>4.SimpMessagingTemplate该对象主要用到两个方法，通知类的消息使用</p>
<pre><code>SimpMessagingTemplate.convertAndSend(&quot;/topic/response&quot;, ResultUtil.success(new Date()));
</code></pre><p>对于某用户发送消息则为</p>
<pre><code>SimpMessagingTemplate.convertAndSendToUser(&quot;zhyx&quot;,&quot;/queue/notifications&quot;,sdf.format(new Date()));
</code></pre><p>通过这两种方式实现针对于点对点的消息发送方式，以及针对于广播式的消息发送方式。</p>
<pre><code>@Controller
public class SocketController {
private static Logger logger = LoggerFactory.getLogger(SocketController.class);

 @Autowired
private SimpMessagingTemplate simpMessagingTemplate;//通过SimpMessageTemplate向浏览器发送消息

@MessageMapping(&quot;/subscription&quot;)
@SendTo(&quot;/topic/response&quot;)
public Response subscription(ClientMessage clientMessage){
    logger.info(&quot;{}用户连接了Socket了！&quot;,clientMessage.getUserId());
    return ResultUtil.success();
}

@MessageMapping(&quot;/chat&quot;)
public void handleChat(Principal principal,String msg){//在Spring MVC中，可以直接在参数中获得principal，pinciple中包含当前用户的信息。
    logger.info(&quot;当前发送消息者是{}&quot;,principal.getName());
    simpMessagingTemplate.convertAndSendToUser(principal.getName(),&quot;/queue/notifications&quot;,principal.getName()+&quot;-send:&quot;+msg);
    }
}
</code></pre><p>5.针对于principal对象，做以下说明，该对象属于Spring security的一个对象这里主要作用是用于获取当前发送者id。这里为什么能够直接拿到这个对象。原因如下:</p>
<p>5.1增加Spring boot security依赖</p>
<pre><code>&lt;dependency&gt;
    &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
    &lt;artifactId&gt;spring-boot-starter-security&lt;/artifactId&gt;
&lt;/dependency&gt;
</code></pre><p>5.1 开启了Spring boot WebSecurity支持。在内存中增加了两个默认的用户，当用户登录成功之后， 就可以通过该对象拿到访问者的id.</p>
<pre><code>@Configuration
@EnableWebSecurity
public class WebSecurityConfig extends WebSecurityConfigurerAdapter {
private static Logger logger = LoggerFactory.getLogger(WebSecurityConfigurerAdapter.class);
@Override
protected void configure(HttpSecurity http) throws Exception {
    logger.info(&quot;WebSecurityConfig的HttpSecurity config&quot;);
    http
            .authorizeRequests()
            .antMatchers(&quot;/&quot;,&quot;/login&quot;).permitAll()//1根路径和/login路径不拦截
            .anyRequest().authenticated()//任何没有匹配上的其他的url请求，只需要用户被验证。
            .and()
            .formLogin()
            .loginPage(&quot;/login&quot;) //2登陆页面
            .defaultSuccessUrl(&quot;/chat&quot;) //3登陆成功转向该页面
            .permitAll()
            .and()
            .logout()
            .permitAll();
}

//内存中分配两个用户密码与账户名一样，角色为USER.
@Override
protected void configure(AuthenticationManagerBuilder auth) throws Exception {
    logger.info(&quot;WebSecurityConfig的AuthenticationManagerBuilder config&quot;);
    auth
            .inMemoryAuthentication()//内存认证模式
            .withUser(&quot;zhyx&quot;)
            .password(&quot;zhyx&quot;)
            .roles(&quot;USER&quot;)
            .and()
            .withUser(&quot;test&quot;)
            .password(&quot;test&quot;)
            .roles(&quot;USER&quot;);
}

@Override
public void configure(WebSecurity web) throws Exception {
    logger.info(&quot;WebSecurityConfig的WebSecurity config&quot;);
    web.ignoring().antMatchers(&quot;/resources/static/**&quot;);//静态资源不拦截。
    super.configure(web);
}
}
</code></pre><h1 id="前端"><a href="#前端" class="headerlink" title="前端"></a>前端</h1><p>1.前端对接，广播式对接方式。</p>
<p>1.1引入sockjs.min.js，stomp.min.js，jquery.js支持。</p>
<p>1.2连接SockJS的endpoint是“endpointWisely”，与后台代码中注册的endpoint要一样。</p>
<p>1.3创建STOMP协议的webSocket客户端。</p>
<p>1.4连接webSocket的服务端。</p>
<p>1.5通过stompClient.subscribe（）订阅服务器的目标是’/topic/response’发送过来的地址，与@SendTo中的地址对应。</p>
<p>1.6通过stompClient.send（）向地址为”/subscription”的服务器地址发起请求，与@MessageMapping里的地址对应。</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
&lt;meta charset=&quot;UTF-8&quot; /&gt;
&lt;title&gt;Spring Boot+WebSocket+广播式&lt;/title&gt;

&lt;/head&gt;
&lt;body onload=&quot;disconnect()&quot;&gt;
&lt;noscript&gt;&lt;h2 style=&quot;color: #ff0000&quot;&gt;貌似你的浏览器不支持websocket&lt;/h2&gt;&lt;/noscript&gt;
&lt;div&gt;
&lt;div&gt;
    &lt;button id=&quot;connect&quot; onclick=&quot;connect();&quot;&gt;连接&lt;/button&gt;
    &lt;button id=&quot;disconnect&quot; disabled=&quot;disabled&quot; onclick=&quot;disconnect();&quot;&gt;断开连接&lt;/button&gt;
&lt;/div&gt;
&lt;div id=&quot;conversationDiv&quot;&gt;
    &lt;label&gt;输入你的名字&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;name&quot; /&gt;
    &lt;button id=&quot;sendName&quot; onclick=&quot;sendName();&quot;&gt;发送&lt;/button&gt;
    &lt;p id=&quot;response&quot;&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;script th:src=&quot;@{/js/sockjs.min.js}&quot;&gt;&lt;/script&gt;
&lt;script th:src=&quot;@{/js/stomp.min.js}&quot;&gt;&lt;/script&gt;
&lt;script th:src=&quot;@{/js/jquery.js}&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
var stompClient = null;

function setConnected(connected) {
    document.getElementById(&apos;connect&apos;).disabled = connected;
    document.getElementById(&apos;disconnect&apos;).disabled = !connected;
    document.getElementById(&apos;conversationDiv&apos;).style.visibility = connected ? &apos;visible&apos; : &apos;hidden&apos;;
    $(&apos;#response&apos;).html();
}

function connect() {
    var socket = new SockJS(&apos;/endpointWisely&apos;); //1
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
        setConnected(true);
        console.log(&apos;Connected: &apos; + frame);
        stompClient.subscribe(&apos;/topic/response&apos;, function(respnose){ //2
            showResponse(JSON.parse(respnose.body).result);
        });
    });
}


function disconnect() {
    if (stompClient != null) {
        stompClient.disconnect();
    }
    setConnected(false);
    console.log(&quot;Disconnected&quot;);
}

function sendName() {
    var name = $(&apos;#name&apos;).val();
       //3
    stompClient.send(&quot;/subscription&quot;, {}, JSON.stringify({ &apos;userId&apos;: name,&apos;business&apos;:[&apos;2&apos;,&apos;3&apos;,&apos;4&apos;] }));
}

function showResponse(message) {
      var response = $(&quot;#response&quot;);
      response.html(message);
}
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><p>2.前端对接，点对点对接方式。</p>
<pre><code>7.1登录成功，登录转向chat页面。@{/login｝是权限管理配置的可访问路径以及登录页。


&lt;!DOCTYPE html&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; xmlns:th=&quot;http://www.thymeleaf.org&quot;
  xmlns:sec=&quot;http://www.thymeleaf.org/thymeleaf-extras-springsecurity3&quot;&gt;
&lt;meta charset=&quot;UTF-8&quot; /&gt;
&lt;head&gt;
&lt;title&gt;登陆页面&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div th:if=&quot;${param.error}&quot;&gt;
无效的账号和密码
&lt;/div&gt;
&lt;div th:if=&quot;${param.logout}&quot;&gt;
你已注销
&lt;/div&gt;
&lt;form th:action=&quot;@{/login}&quot; method=&quot;post&quot;&gt;
&lt;div&gt;&lt;label&gt; 账号 : &lt;input type=&quot;TEXT&quot; name=&quot;username&quot;/&gt; &lt;/label&gt;&lt;/div&gt;
&lt;div&gt;&lt;label&gt; 密码: &lt;input type=&quot;password&quot; name=&quot;password&quot;/&gt; &lt;/label&gt;&lt;/div&gt;
&lt;div&gt;&lt;input type=&quot;submit&quot; value=&quot;登陆&quot;/&gt;&lt;/div&gt;
&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><p>2.2聊天页面</p>
<pre><code>2.2.1页面初始化简历SockJS连接，过程与广播连接一样。

&lt;!DOCTYPE html&gt;

&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;meta charset=&quot;UTF-8&quot; /&gt;
&lt;head&gt;
&lt;title&gt;Home&lt;/title&gt;
&lt;script th:src=&quot;@{js/sockjs.min.js}&quot;&gt;&lt;/script&gt;
&lt;script th:src=&quot;@{js/stomp.min.js}&quot;&gt;&lt;/script&gt;
&lt;script th:src=&quot;@{js/jquery.js}&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;
聊天室
&lt;/p&gt;

&lt;form id=&quot;wiselyForm&quot;&gt;
&lt;textarea rows=&quot;4&quot; cols=&quot;60&quot; name=&quot;text&quot;&gt;&lt;/textarea&gt;
    &lt;input type=&quot;submit&quot;/&gt;
&lt;/form&gt;

&lt;script th:inline=&quot;javascript&quot;&gt;
$(&apos;#wiselyForm&apos;).submit(function(e){
    e.preventDefault();
    var text = $(&apos;#wiselyForm&apos;).find(&apos;textarea[name=&quot;text&quot;]&apos;).val();
    sendSpittle(text);
});

var sock = new SockJS(&quot;/cmsService/endpointChat&quot;); //1
var stomp = Stomp.over(sock);
stomp.connect(&apos;guest&apos;, &apos;guest&apos;, function(frame) {
    stomp.subscribe(&quot;/user/queue/notifications&quot;, handleNotification);//2
});



function handleNotification(message) {
    $(&apos;#output&apos;).append(&quot;&lt;b&gt;Received: &quot; + message.body + &quot;&lt;/b&gt;&lt;br/&gt;&quot;)
}

function sendSpittle(text) {
    stomp.send(&quot;/chat&quot;, {}, text);//3
}
$(&apos;#stop&apos;).click(function() {sock.close()});
&lt;/script&gt;

&lt;div id=&quot;output&quot;&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
      
    </div>
    <div class="article-info article-info-index">
      
      <a href="/2017/11/22/Spring-webSocket/" class="archive-article-date">
  	<time datetime="2017-11-22T01:21:53.000Z" itemprop="datePublished"><i class="icon-clock"></i>2017-11-22</time>
</a>
      
	<div class="article-tag tagcloud">
		<i class="icon-price-tags"></i>
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Spring/">Spring</a></li></ul>
	</div>

      

      <div class="clearfix"></div>
    </div>
  </div>
</article>










  
  
    <nav id="page-nav">
      <span class="page-number current">1</span><a class="page-number" href="/page/2/">2</a><a class="page-number" href="/page/3/">3</a><a class="extend next" rel="next" href="/page/2/">Next &raquo;</a>
    </nav>
  


      </div>
      <footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; 2018 满天繁星
    	</div>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>
    </div>
    <script>
	var yiliaConfig = {
		fancybox: true,
		mathjax: true,
		animate: true,
		isHome: true,
		isPost: false,
		isArchive: false,
		isTag: false,
		isCategory: false,
		open_in_new: false,
		root: "/"
	}
</script>

<script src="/./main.js"></script>





<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';                 
    }       
});
</script>

<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


    
<div class="tools-col">
  <ul class="btn-wrap">
    
      <li class="chose" data-hook="tools-section-all"><span class="text">全部</span><i class="icon-book"></i></li>
    
    
      <li data-hook="tools-section-tag"><span class="text">标签</span><i class="icon-price-tags"></i></li>
    
    
      <li data-hook="tools-section-friends"><span class="text">友链</span><i class="icon-link"></i></li>
    
    
      <li data-hook="tools-section-me"><span class="text">我</span><i class="icon-smile"></i></li>
    
  </ul>
  <div class="tools-wrap">
    
    	<section class="tools-section tools-section-all chose">
    	</section>
    

    
    	<section class="tools-section tools-section-tag">
    			<div class="widget tagcloud" id="js-tagcloud">
    				<a href="/tags/Java/" style="font-size: 20px;">Java</a> <a href="/tags/Linux/" style="font-size: 20px;">Linux</a> <a href="/tags/Markdown-Study/" style="font-size: 15px;">Markdown Study</a> <a href="/tags/Nginx/" style="font-size: 10px;">Nginx</a> <a href="/tags/Oracle/" style="font-size: 15px;">Oracle</a> <a href="/tags/SSL/" style="font-size: 10px;">SSL</a> <a href="/tags/Spring/" style="font-size: 15px;">Spring</a> <a href="/tags/maven/" style="font-size: 10px;">maven</a> <a href="/tags/随笔/" style="font-size: 10px;">随笔</a>
    			</div>
    	</section>
    

    
    	<section class="tools-section tools-section-friends">
  		
  			<div class="friends-wrap" id="js-friends">
  			
  	          <a target="_blank" class="main-nav-link switch-friends-link" href="http://blog.mazengyi.com/">Demien</a>
  	        
  	        </div>
  		
    	</section>
    

    
    	<section class="tools-section tools-section-me">
  	  	
  	  		<div class="aboutme-wrap" id="js-aboutme">至虚极,宁静笃。&lt;br/&gt;&lt;br/&gt;衣带渐宽终不悔，&lt;br/&gt;为伊消得人憔悴。&lt;br/&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;---by 2016-09-23</div>
  	  	
    	</section>
    
  </div>
  
</div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
  </div>
</body>
</html>